@charset "UTF-8";


html{
    font-size: 100%;
}

body{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(17, 17, 17);
}

img{
    width: 100%;
    object-fit: cover;
}

.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    padding: 0.4%;
}

.wrapper-main{
    max-width: 980px;
    margin: 0 auto;
    padding: 0.4%;
}
/*
h3.main-title{
    text-align: center;
    position: relative;
    font-weight: normal;
    margin-bottom: 30px;
}

h3.main-title::before{
    content: "01";
    color: white;
    background: black;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: inline-block;
    position: absolute;
    left: 2px;
    top: -10px;
}
*/

#main{
    counter-reset: count;
}

.about{
    counter-increment: count;
}

.main-title{
    display: flex;
    align-items: center;
    margin: 30px 0;
    font-weight: normal;
    font-size: 1.4em;
    line-height: 1.6;
}

.main-title:before{
    content: counter(count, decimal-leading-zero);
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    margin-top: -8px;
    line-height: 1;
    font-size: 0.8em;
    color: white;
    background: black;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

h3.sub-title{
    text-align: left;
    position: relative;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 50px;
}

h3.sub-title::after{
    content: " ";
    width: 80px;
    display: inline-block;
    background: rgb(17, 17, 17);
    height: 2px;
    position: absolute;
    bottom: -15px;
    left: 0;
}

h1{
    font-weight: bold;
}

/*--ヘッダー--*/
.header-top p{
    background-color: darkgray;
    padding-left: 40px;
    font-size: 16px;
    margin: 0;
}

.header-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-logo{
    display: flex;
    margin-left: 0;
    margin-left: 40px;
    align-items: center;
}

.main-logo p{
    background-color: #83888f;
    color: floralwhite;
    height: 40px;
    width: 95px;
    font-size: 34px;
    text-align: center;
    vertical-align: center;
    line-height: 40px;
}

.main-logo h1{
    font-size: 25px;
    font-weight: normal;
}

.menu {
   margin-right: 40px;
   display: flex;
}

.botton{
    margin-right: 10px;
    background: #FFFFFF;
    border: 1px solid #A0A0A0;
    color: #2B2B2B;
    padding: 20px 50px;
    transition: 0.6s;
}

.botton:hover{
    background: #83888f;
    color: white;
}

/*--ナビメニュー--*/

ul{
    padding-left: 0;
}

.header-nav{
    margin-bottom: 10px;
}

.nav-menu{
    display: flex;
    /*justify-content: space-between;*/
    justify-content: center;
    text-align: center;
    align-items: center;
    /*max-width: 980px;*/
    margin-bottom: 0;
}

.nav-menu li{
    position: relative;
    margin: 0;
    padding: 0 0.5em;
    margin-left: 0px;
   
    text-align: center;
 
    border-right: solid 1px black;  
}

.nav-menu li:first-child{
    border-left: solid 1px black; 
}
/*
.menu li::after{
    content: " ";
    width: 1px;
    display: inline-block;
    background: rgb(17, 17, 17);    
    height: 25px;
    position: absolute;  
}


.nav-menu li:first-child::before{
    content: " ";
    width: 1px;
    display: inline-block;
    background: rgb(17, 17, 17);
    height: 25px;
    position: absolute;  
 }
*/
 .nav-menu a{
    border-bottom: 1px none black;
    transition: 0.3s;
 }
 
 .nav-menu a:hover{
     color: rgba(17, 17, 17, 0.7);
     border-bottom: 1px solid black;
 }

 
#title{
    margin-top: 0;
}



 /*--画像と半円--*/
 
 img{
     height: 450px;
 }

.main-image{
     position: relative;
}

.circle{
    height: 100px;
    width: 200px;
    background-color: white;
    border-radius: 100px 100px 0 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0) scaleX(1.3);
}

/*--ABOUT--*/

.line{
    border: 1px solid #A0A0A0;
    width: 100%;
    text-align: center;
   margin-top: 30px;
   margin-bottom: 20px;
}

.about-title{
    text-align: center;
}

.about-title p{
   font-weight: bold;
   color: red;
   font-size: 25px;
   line-height: 1;
}

.about-title h1{
    font-size: 36px;
    font-weight: bold;
}

.about-main{
    display: flex;
    justify-content: space-between;
    
}

.article-text{
    width: 40%;
    text-align: justify;
}

.article-image{
    width: 55%;
    max-width: 100%;
    object-fit: cover;
}

.border{
    border: 3px double #83888f;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
}

/*--メイン--*/
.image-contener{
    width: 55%;
    margin: 0;
    padding-bottom: 30px;
}


.article-image-1{
    background-image: url(img/darya-tryfanava-d55fhArDES0-unsplash.jpg);
    height: 66%;
    background-size: cover;
}

.article-image-2{
    display: flex;
    justify-content: space-between;
    height: 33%;
    margin-top: 0.7em;
}

.article-image_small1{
    background-image: url(img/fidel-fernando-sE-I4TCZVWk-unsplash.jpg);
    height: 100%;
    width: 49%;
    background-size: cover;
}

.article-image_small2{
    background-image: url(img/sincerely-media-dGxOgeXAXm8-unsplash.jpg);
    height: 100%;
    width: 49%;
    background-size: cover;
}


.article-image-02{
    background-image: url(img/erika-fletcher-MZxqc6n9qCw-unsplash.jpg);
    height: 66%;
    background-size: cover;
}

.article-image_small02{
    background-image: url(img/drahomir-posteby-mach-n4y3eiQSIoc-unsplash.jpg);
    height: 100%;
    width: 49%;
    background-size: cover;
}

.article-image_small03{
    background-image: url(img/dom-fou-YRMWVcdyhmI-unsplash.jpg);
    height: 100%;
    width: 49%;
    background-size: cover;
}


.article-image-04{
    background-image: url(img/toa-heftiba-6bKpHAun4d8-unsplash.jpg);
    height: 66%;
    background-size: cover;
}


.article-image_small05{
    background-image: url(img/richard-cabusao-adQAb-L-YkE-unsplash.jpg);
    height: 100%;
    width: 49%;
    background-size: cover;
}

.article-image_small06{
    background-image: url(img/jeffrey-f-lin-YYQ1ARvhfCo-unsplash.jpg);
    height: 100%;
    width: 49%;
    background-size: cover;
}

/*--
.article-image-1{
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.article-image-1 img{
    display: inline-block;
    
}

.article-image-2{
    width: 100%;
    max-width: 50%;
    display: flex;
    object-fit: cover;
}
--*/

.text-box{
    width: 40%;
    text-align: justify;
}

.about{
    display: flex;
    justify-content: space-between;
}

.order1{
    order: 1;
}

.order2{
    order: 2;
}

/*--フッター--*/
#footer{
background: -webkit-linear-gradient(180deg, rgb(214, 236, 255), rgb(255, 234, 190));
background: linear-gradient(180deg, rgb(214, 236, 255), rgb(255, 234, 190));
border-bottom:  4px dashed #50a8db;
}

.footer-img{
    padding-top: 20px;
    height: 450px;
}

.footer-info{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.info-left{
    background: white;
    width: 40%;
    height: 190px;
    padding-bottom: 0;
    padding-right: 20px;
}

.info-left-title{
    display: flex;
    align-items: center;
    margin: 30px 0;
    font-weight: normal;
    font-size: 1.4em;
    line-height: 1.6;
}

.info-left-title:before{
    content: " ";
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-top: -8px;
    line-height: 1;
    background: black;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.info-sub-title{
    font-weight: normal;
    margin-left: 0.5em;
}

.info-right{
    text-align: justify;
    border-left: 2px solid #83888f;
    width: 53%;
    padding-left: 20px;
}

.footer-info2{
    margin-top: 50px;
    display: flex;
    position: relative;
    border-top: 1px solid #83888f;
    border-bottom:  1px solid #83888f;
}

.info-text2{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.info-text2::before{
    content: " ";
    width: 1px;
    display: inline-block;
    background: #83888f;
    height: 30px;
    position: absolute; 
    top: 50%; 
    transform: translate(0,-50%);
}

.info-text2 p{
    margin-left: 20px;
}

.footer-info3{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.info3-text{
    color: red;
    letter-spacing: 5px;
    font-weight: bold;
    width: 35%;
    position: relative;
}

.info3-text p{
    padding: 0;
    font-size: 25px;
    width: 100%;
    margin: 0;
}

.info3-text p:nth-of-type(2){
    font-size: 80px;
    width: 100%;
    position: absolute;
    top: 13px;
}

.info3-text p:nth-of-type(3){
    position: absolute;
    top: 105px;
}

.info3-text-right{
    width: 65%;
    margin: 3;
    padding: 0;
}

.info3-botton{
    width: 230px;
    height: 60px;
    background-color: white;
    text-align: center;
    position: relative;
    text-align: right;
    padding-right: 60px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) ;
}

.info3-botton p{
    display: inline-block;
    vertical-align: middle;
   
}

.info3-botton p::before{
    content: " ";
    display: inline-block;
    background: black;
    width: 30px;
    height: 27px;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    left: 60px;
}

.fotter-menu-contener{
    display: flex;
    border-top:  1px solid #83888f;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    justify-content: space-between;
    padding-right: 25%;
}

.footer-menu li{
    margin-bottom: 10px;
    position: relative;
}

ul .inner{
   font-size: 12px;
}

.inner li{
    padding: 0;
    margin: 0;
}

.footer-menu li::after{
    content: "▼";
    display: inline-block;
    color: red;
    font-size: 13px;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: -25px;
}

.inner li::after{
    content: none;
}

.fotter-menu-botton{
    width: 210px;
    height: 55px;
    background-color: white;
    text-align: center;
    text-align: right;
    padding-right: 60px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) ;
}

.fotter-menu-botton p{
    display: inline-block;
    vertical-align: middle;
}

.sns{
    display: flex;
    border-top:  1px solid #83888f;
    border-bottom:  1px solid #83888f;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.sns-botton{
    display: flex;
    align-items: center;
}

.sns .text p{
    display: inline-block;
    padding-top: auto;
    vertical-align: middle;
    text-align: center;
}

.sns-botton img{
    width: 40px;
    height: 40px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
}
.footer-info4{
    display: flex;
    border-bottom:  1px solid #83888f;
    margin-bottom: 30px;
}

.footer-info4 .text p{
    vertical-align: middle;
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
}

.text-botton{
    display: flex;
    margin-left: 20px;
}

.text-botton a{
    margin-right: 20px;
}

.footer-bottom{
    padding: 10px;
}

.footer{
   padding-left: 210px;
   display: flex; 
   margin: 0;
}

.footer-text{
    font-size: 25px;
    margin-right: 5px;
    position: relative;
}

.footertext-1{
    margin-bottom: 0;
}

.footertext-2{
    margin-top: 0;
}

.footer-text::before{
    content: " ";
    display: inline-block;
    background: black;
    width: 30px;
    height: 27px;
    position: absolute;
    left: -35px;
    top:5px
}

@media(max-width: 767px){
    .about-main{
        flex-direction: column;
        align-items: center;
    }

    .article-text{
        width: 98%;
    }

    .article-image{
        width: 98%;
    }

    .about{
        flex-direction: column;
    }

    .image-contener{
        width: 98%;
        margin: 0;
    }

    .text-box{
        width: 98%;
    }

    .article-image-1{
        height: 280px;
        background-size: cover;
    }
    
    .article-image-2{
        display: flex;
        justify-content: space-between;
        height: 180px;
        margin-top: 0.7em;
    }

    .order1{
        order: 2;
    }
    
    .order2{
        order: 1;
    }

    .article-image-02{
        height: 280px;
        background-size: cover;
    }

    .article-image-04{
        height: 280px;
        background-size: cover;
    }
   
    .footer-info{
        flex-direction: column;
    }

    .info-left{
        width: 100%;
    }

    .info-right{
        width: 100%;
        border-left: none;
        padding-left: 0;
        margin-top: 10px;
    }

    .footer-info3{
        flex-direction: column;
        align-items: center;
    }

    .info3-text{
        width: 100%;
        text-align: center;
    }

    .info3-text-right{
        width: 100%;
        margin-top: 110px;
        text-align: center;
    }

    .info3-botton{
        margin: 0 auto;
    }

    .info3-text p:nth-of-type(2) {
        margin-left: 1.5rem;
    }

    .fotter-menu-contener{
        flex-direction: column;
        align-items: center;
    }

    .wrapper-main{
        padding: 1rem;
    }

    .fotter-menu-botton{
        margin: 0 auto;
    }

    .footer{
        padding-left: 3.5rem;
    }

    .info-left{
        padding-right: 0;
    }

    .header-top p{
        padding-left: 0;
        font-size: 0.7rem;
    }

}